<div class="text-layout">
  <h1>Decimal pipe and porcentage</h1>
  <p>Default angular pipes - Common Module</p>
</div>

<div class="grid">
  <div class="col-12 sm:col-4">
    <p-card
      header="Number pipe"
      [subheader]="'current number: ' + bigNumber"
    >
      <ul>
        <li>
          value after pipe: <br>
          <small>*</small><em class="pi pi-dollar"></em> {{bigNumber | number}} <br><br>
        </li>
        <li>
          value after pipe with argument (number: '0.2-2'): <br>
          <small>*</small><em class="pi pi-dollar"></em> {{bigNumber | number: '0.2-2'}} <br><br>
        </li>
        <li>
          value plus 5245254.1 after pipe with argument (number: '0.2-2'): <br>
          <small>*</small><em class="pi pi-dollar"></em> {{(bigNumber + 5245254.1) | number: '0.2-2'}} <br><br>
        </li>
        <li>
          value after pipe with arguments (number: '0.2-2': 'fr'): <br>
          <small>*</small><em class="pi pi-dollar"></em> {{bigNumber | number: '0.2-2': 'fr'}} <br><br>
        </li>
      </ul>
      <small>*with dollar symbol from primeNG</small>
    </p-card>
  </div>
  <div class="col-12 sm:col-4">
    <p-card
      header="Curreny pipe"
      [subheader]="'current number: ' + bigNumber"
    >
      <ul>
        <li>
          value after pipe: <br>
          {{bigNumber | currency}} <br><br>
        </li>
        <li>
          value after pipe with argument (currency: 'EUR'): <br>
          {{bigNumber | currency: 'EUR'}} <br><br>
        </li>
        <li>
          value after pipe with arguments (currency: 'USD': 'symbol-narrow'): <br>
          {{bigNumber | currency: 'USD': 'symbol-narrow'}} <br><br>
        </li>
        <li>
          value after pipe with arguments (currency: 'EUR': 'symbol-narrow'): <br>
          {{bigNumber | currency: 'EUR': 'symbol-narrow'}} <br><br>
        </li>
        <li>
          value after pipe with arguments (currency: 'EUR': 'symbol-narrow': '1.4-4'): <br>
          {{bigNumber | currency: 'EUR': 'symbol-narrow': '1.4-4'}} <br><br>
        </li>
      </ul>
    </p-card>
  </div>
  <div class="col-12 sm:col-4">
    <p-card
      header="Percentage pipe"
      [subheader]="'current number: ' + percentage"
    >
      <ul>
        <li>
          value after pipe: <br>
          {{percentage | percent}} <br><br>
        </li>
        <li>
          value after pipe with arguments (percent: '2.2'): <br>
          {{percentage | percent: '2.2'}} <br><br>
        </li>
        <li>
          value after pipe with arguments (percent: '2.2'): <br>
          {{percentage | percent: '2.2'}} <br><br>
        </li>
        <li>
          value after pipe with arguments (percent: '2.2': 'en'): <br>
          {{percentage | percent: '2.2': 'en'}} <br><br>
        </li>
      </ul>
    </p-card>
  </div>
</div>
