<div class="text-layout">
  <h1>Basics pipes</h1>
  <p>Default angular pipes - Common Module</p>
</div>

<div class="grid">
  <div class="col-12 sm:col-4">
    <p-card
      header="Uppercase"
      [subheader]="'current value: ' + nameLower"
    >
      value before pipe: {{nameLower | uppercase}}
    </p-card>
  </div>
  <div class="col-12 sm:col-4">
    <p-card
      header="Lowercase"
      [subheader]="'current value: ' + nameUpper"
    >
      value before pipe: {{nameUpper | lowercase}}
    </p-card>
  </div>
  <div class="col-12 sm:col-4">
    <p-card
      header="Titlecase"
      [subheader]="'current value: ' + nameFull"
    >
      value before pipe: {{nameFull | titlecase}}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date pipes</h1>
  <p>Pipe to show date</p>
</div>

<div class="grid">
  <div class="col-12 sm:col-6">
    <p-card>
      <ul>
        <li>Current value</li>
        <li>Value before pipe (date)</li>
        <li>Value before pipe with argument 'short' (date:'short')</li>
        <li>Value before pipe with argument 'long' (date:'long')</li>
        <li>Value before pipe with custom argument (date:'EEEE-HH:mm, dd-MMMM-YYYY')</li>
      </ul>
    </p-card>
  </div>
  <div class="col-12 sm:col-6">
    <p-card>
      <ul>
        <li>{{date}}</li>
        <li>{{date | date}}</li>
        <li>{{date | date:'short'}}</li>
        <li>{{date | date:'long'}}</li>
        <li>{{date | date:'EEEE-HH:mm, dd-MMMM-YYYY'}}</li>

      </ul>
    </p-card>
  </div>
</div>
