<div class="text-layout">
  <h1>Basics pipes</h1>
  <p>Default angular pipes - Common Module</p>
</div>

<div class="grid">
  <div class="col-12 sm:col-4">
    <p-card
      header="Uppercase"
      [subheader]="'current value: ' + nameLower"
    >
      value after pipe: {{nameLower | uppercase}}
    </p-card>
  </div>
  <div class="col-12 sm:col-4">
    <p-card
      header="Lowercase"
      [subheader]="'current value: ' + nameUpper"
    >
      value after pipe: {{nameUpper | lowercase}}
    </p-card>
  </div>
  <div class="col-12 sm:col-4">
    <p-card
      header="Titlecase"
      [subheader]="'current value: ' + nameFull"
    >
      value after pipe: {{nameFull | titlecase}}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date pipes</h1>
  <p>Pipe to show date</p>
</div>

<div class="grid">
  <div class="col-12 sm:col-6">
    <p-card>
      <ul>
        <li>Current value</li>
        <li>Value after pipe (date)</li>
        <li>Value after pipe with argument 'short' (date:'short')</li>
        <li>Value after pipe with argument 'long' (date:'long')</li>
        <li>Value after pipe with custom argument (date:'EEEE-HH:mm, dd-MMMM-YYYY')</li>
      </ul>
      <hr>
      <ul>
        <li>Value after pipe with argument 'long' and argument timezone (date:'long': 'GMT-6')</li>
        <li>Value after pipe with argument 'long' and argument timezone (date:'long': 'GMT-5')</li>
        <li>Value after pipe with argument 'long', argument language (date:'long': '': 'en')</li>
        <li>Value after pipe with argument 'long', argument language (date:'long': '': 'fr')</li>
        <li>Value after pipe with argument 'long', argument language (date:'long': '': 'es-VE')</li>
      </ul>
    </p-card>
  </div>
  <div class="col-12 sm:col-6">
    <p-card>
      <ul>
        <li>{{date}}</li>
        <li>{{date | date}}</li>
        <li>{{date | date:'short'}}</li>
        <li>{{date | date:'long'}}</li>
        <li>{{date | date:'EEEE-HH:mm, dd-MMMM-YYYY'}}</li>
      </ul>
      <hr>
      <ul>
        <li>{{date | date:'long': 'GMT-6'}}</li>
        <li>{{date | date:'long': 'GMT-5'}}</li>
        <li>{{date | date:'long': '': 'en'}}</li>
        <li>{{date | date:'long': '': 'fr'}}</li>
        <li>{{date | date:'long': '': 'es-VE'}}</li>
      </ul>
    </p-card>
  </div>
</div>
