<div class="text-layout">
  <h1>No Commons pipes</h1>
  <p>Default angular pipes - Common Module</p>
</div>

<div class="grid">
  <div class="col-12 sm:col-6">
    <p-fieldset legend="i18nSelect pipe" [toggleable]="true">
      <p>
        Greetings, it is a pleasure to invite you to our event.
        {{name}} will be you companion,
        {{gender| i18nSelect: mapPronouns}} will be happy to serve you
      </p>
      <button
        pButton
        pRipple
        type="button"
        label="Change person"
        class="p-button-rounded"
        (click)="changePerson()"
      ></button>
    </p-fieldset>
  </div>

  <div class="col-12 sm:col-6">
    <p-fieldset legend="i18nPlural pipe" [toggleable]="true">
      <p>
        Currently, {{ clients.length | i18nPlural: clientMap }}
      </p>
      <button
        pButton
        pRipple
        type="button"
        label="Delete client"
        class="p-button-rounded p-button-secondary"
        (click)="deleteClient()"
        ></button>
    </p-fieldset>
  </div>

  <div class="col-12 sm:col-6">
    <p-fieldset legend="Slice pipe" [toggleable]="true">
      <strong>Original array</strong>
      <pre>{{ clients }}</pre>

      <strong>Value after pipe (slice: 0):</strong>
      <pre>{{ clients | slice: 0 }}</pre>

      <strong>Value after pipe (slice: 0: 2):</strong>
      <pre>{{ clients | slice: 0: 2 }}</pre>

      <strong>Value after pipe (slice: 1: 2):</strong>
      <pre>{{ clients | slice: 1: 2 }}</pre>

      <strong>'example' value after pipe (slice: 1: 4):</strong>
      <pre>{{ 'example' | slice: 1: 4 }}</pre>

      <button
        pButton
        pRipple
        type="button"
        label="Delete client"
        class="p-button-rounded p-button-secondary"
        (click)="deleteClient()"
      ></button>
    </p-fieldset>
  </div>

  <div class="col-12 sm:col-6">
    <p-fieldset legend="Json pipe" [toggleable]="true">
      <pre>{{ heroes | json }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 sm:col-6">
    <p-fieldset legend="Key value pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of person | keyvalue">
           <strong>{{item.key | titlecase}}:</strong> {{item.value}}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col-12 sm:col-6">
    <p-fieldset legend="Async pipe" [toggleable]="true">
      <pre>Observable: <span *ngIf="!(myObservable | async) && (myObservable | async) !== 0"> Solving observable </span> {{myObservable | async}}</pre>
      <pre>Promise: <span *ngIf="!(valuePromise | async)"> Solving promise </span> {{valuePromise | async}}</pre>
    </p-fieldset>
  </div>
</div>
